@import url("[https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap](https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap)");
@import "tailwindcss";

@theme {
  /* Brand & Institutional Colors */
  --color-sena-green: #39a900;
  --color-sena-green-dark: #007832;
  --color-sena-navy: #00304d;

  /* Complementary Colors */
  --color-sena-cyan: #50e5f9;
  --color-sena-yellow: #fdc300;
  --color-sena-purple: #71277a;

  /* Neutrals & Backgrounds */
  --color-sena-white: #ffffff;
  --color-sena-light: #f6f6f6;
  --color-sena-black: #000000;

  /* Typography Families */
  --font-primary: "Work Sans", sans-serif;
  --font-secondary: "Calibri", "Candara", "Segoe", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-sena-light);
  color: var(--color-sena-black);
}
